.head_style{
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: red;
    cursor: pointer;
}
button{
    margin: 20px;
    padding: 10px;
    border-radius: 45px;
    color: rgb(230, 38, 38);
    background-color: aqua;
}
